@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i&display=swap")
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;

}
 :root{

    /*defin css variable*/
    --primary-color: #25df8f;
    --border-color:#d9dde7;
    --secondry-color:#c1c8d7;
    --secondry-text-color:#949fb7;
    --primary-white-color:#fff;
    --primary-text-color: #1a1a1a;
    --tertiary-text-color:#596172;
    --apartment-background-color:#f6f6f7;

}

body {
    font-family: "roboto",sans-serif;
    line-height: 1.5;
}

li{ 

    list-style: none;
}
a{
    text-decoration: none;
    color: #000;
}
input{
    border: none;
    outline: none;
}

/*utility classes*/
.container{
    margin-inline: 5rem;
    
}

.flex{

    display: flex;
}
/*navbar styling*/
nav{
    padding: 0.5rem 2rem;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

